{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true,
    "localStorage": true,
    "describe": true,
    "it": true,
    "test": true,
    "expect": true,
    "jest": true,
    "beforeEach": true
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "quotes": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off",
    "arrow-body-style": "off",
    "max-len": [1, 120],
    "no-param-reassign": "off",
    "no-confusing-arrow": "off",
    "react/require-default-props": "off",
    "linebreak-style": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-pascal-case": "off",
    "implicit-arrow-linebreak": "off",
    "react/forbid-prop-types": [1, { "forbid": ["any"] }],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": [],
        "labelAttributes": [],
        "controlComponents": ["Control"],
        "depth": 3
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true,
      "arrowFunctions": true,
      "classes": true
    }
  }
}
